.festival-malta-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 16px;
  background-color: #171718;
  border: 4px solid #25292b;
  border-radius: 15px;
}

.malta-img-3rd-page {
  max-width: 100%;
  border-radius: 15px;
}

.festival-malta-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.festiva-malta-header {
  font-size: 13px;
  line-height: 17px;
  font-family: Medium;
  color: #ffffff;
  text-align: center;
}

.festival-malta-info {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  color: #ffffff;
  text-align: center;
}

.festival-malta-dates-div {
  background-color: #2c3234;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(90deg, #ef5a21 3px, #2c3234 3px);
  background-position: center;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.festival-malta-main-text {
  font-size: 14px;
  font-family: Bold;
  line-height: 17px;
  color: #ffffff;
}
.category-benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (min-width: 600px) {
  .festival-malta-main-div {
    border-radius: 10px;
    margin: 0px 50px 0px 50px;
    width: 600px;
  }
  .malta-img-3rd-page {
    max-height: 250px;
    width: 100%;
  }
  .category-benefits {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
  }
}
