@font-face {
  font-family: "Bold";
  src: url(./fonts/Linotype-HelveticaNeueLTGEO75Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Light";
  src: url(./fonts/HelveticaLT45Light.ttf) format("opentype");
}

@font-face {
  font-family: "Medium";
  src: url(./fonts/HelveticaNeueLTProMd.otf) format("opentype");
}

@font-face {
  font-family: "Roman";
  src: url(./fonts/HelveticaNeueLTStd55Roman.ttf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
