.main-header {
  color: rgb(255, 255, 255);
  font-family: "bold";
  font-weight: 100;
  align-self: flex-start;
  font-size: 12px;
  padding-left: 15px;
}

.main-header h2 {
  margin-bottom: 15px;
  font-weight: 700;
  margin-top: 8px;
}

.main-header span {
  color: rgb(191, 191, 191);
  font-weight: 300;
  font-size: 13px;
}

@media only screen and (min-width: 600px) {
  .main-header {
    padding: 0 50px;
    border-radius: 10px;
  }
}
