.headline-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  padding-left: 15px;
  font-family: "Light";
  opacity: 70%;
  font-weight: 600;
  font-size: 14px;
  gap: 5px;
}

.slots {
  background-color: rgb(49, 49, 49);
  border-radius: 20px;
  padding: 2px 12px 2px 12px;
}

.headline-wrapper-div {
  /* padding-left: 15px; */
  width: 100%;
}

.x-btn {
  display: none;
}

@media only screen and (min-width: 600px) {
  .headline-wrapper-div {
    position: fixed;
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
  }

  .headline-wrapper {
    background-color: rgb(49, 49, 49);
    opacity: 1;
    border-radius: 30px;
    padding: 2px 10px;
  }

  .slots {
    background-color: rgb(85, 84, 84);
  }
  .x-btn {
    display: block;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: rgb(202, 202, 202);
    opacity: 0.8;
    font-family: Bold;
    font-size: 14px;
  }

  .x-btn:hover {
    cursor: pointer;
    background-color: rgb(234, 233, 233);
    font-size: 16px;
  }
}
