.banner {
  width: 100%;
  background-color: red;
  background: url(../../assets/malta.jpg) center repeat-x;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 250px;
}

@media only screen and (min-width: 600px) {
  .banner {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    border-radius: 10px;
  }
}
